In this notebook we will be cleaning our data so that further operations may be performed on it

In [1]:
# import libs
import pandas as pd
import re

In [13]:
# load data scraped from links
df = pd.read_csv('../data_for_notebooks/information_from_links')

Now that we have the data, we get to the fun task of cleaning up our data and making it ready for modelling.

The flow will be as follows:

1. Check for null entries and deal with them
2. Clean columns one by one (remove \n and \t and \r) and convert all entries to lower case. Do not split any columns here.
3. Convert dates into datetime objects
4. Convert compensation into 2 categories
5. Work with 'skills' and 'job loc' columns
6. Replace some repetitive keywords in details by space
7. Remove any duplicate entries

Then we will decide on what features to consider for our knowledge based part and what all to consider for our content based part of the recommendation system.

In [14]:
df.shape

(653, 11)

In [3]:
df.head(1)

,Unnamed: 0,href,job_title,company_name,job_loc,details,category,compensation,start,end,skills
0,0,http://letsintern.com/internship/Human-Resourc...,\nHR Executive - Recruitment\n,\nEngenia Technologies\n,\n\nGurgaon\n\n,\nAbout Internship:\n\t\t\t\t\t\t\t\t\t\t\t\t\...,Human Resources Recruiter,Recurring,2nd Mar 2019,28th Aug 2019,\nSkills Required\n\n\n\t\t\t\t\t\t\t\t\t\t\t\...

In [16]:
del df['Unnamed: 0']

1. NULL ENTRIES

In [5]:
df.isnull().sum()

href            0
job_title       0
company_name    0
job_loc         0
details         0
category        0
compensation    0
start           0
end             0
skills          0
dtype: int64

Phew ! Dodged a bullet there

2. REMOVING \t AND \n and \r AND LOWER CASE TRANSFORM

In [18]:
df = df.apply(lambda x: x.str.replace('\t',' ')).apply(lambda x: x.str.replace('\n',' '))

It was discovered later that \r was creating a lot of problem and thus we should be removing it right at the cleaning process

In [19]:
df = df.apply(lambda x: x.str.replace('\r',' '))

In [20]:
# removing any extra space created because of the above steps
df = df.apply(lambda x: x.str.strip())
df = df.apply(lambda x: x.str.replace('\s{2}',' '))

In [22]:
df.head()

,href,job_title,company_name,job_loc,details,category,compensation,start,end,skills
0,http://letsintern.com/internship/Human-Resourc...,HR Executive - Recruitment,Engenia Technologies,Gurgaon,About Internship: We are seeking a HR R...,Human Resources Recruiter,Recurring,2nd Mar 2019,28th Aug 2019,Skills Required HR Practices
1,http://letsintern.com/internship/Tele-Sales-Ex...,Telecalling & Lead Generation,Abalone Technologies Pvt Ltd,Noida,About Internship: Selected intern's day...,Tele Sales Executive,Recurring,17th Feb 2019,30th Aug 2019,Skills Required Office Administration
2,http://letsintern.com/internship/Marketing-Pro...,Digital Marketing Internship,Brandstory Digital Marketing Company,Bangalore,About Internship: Are you looking for D...,Marketing Professional,Recurring,25th Dec 2018,29th Apr 2020,Skills Required Digital Marketing
3,http://letsintern.com/internship/Accountant-in...,RECRUITMENT OF CORPORATE BANK BACK OFFICE POST,bandhan pvt.ltd,"Kathua, Barasat, Bar...",About Internship: Huge Opportunity In C...,Accountant,Expenses Covered,12th Mar 2019,Nov ---- Nov -,Skills Required Analytical Skills
4,http://letsintern.com/internship/Software-Deve...,Software Developer,TrippyIgloo,Bangalore,About Internship: We are looking for in...,Software Developer : Python,Recurring,30th Jan 2019,20th Jun 2019,Skills Required GO(Golang) ...

Lets take a look at some cases that we think might still have problems:

In [23]:
df.job_loc.value_counts()

Anywhere in India                                                                                                                                                                                                93
Bangalore                                                                                                                                                                                                        79
Mumbai                                                                                                                                                                                                           66
Kolkata                                                                                                                                                                                                          60
Delhi                                                                                                                                                                                                            44
New Delhi                                                                                                                                                                                                        37
Pune                                                                                                                                                                                                             21
Chennai                                                                                                                                                                                                          15
Ahmedabad                                                                                                                                                                                                        15
Noida                                                                                                                                                                                                            13
Gurgaon                                                                                                                                                                                                          10
Jaipur                                                                                                                                                                                                            9
Hyderabad                                                                                                                                                                                                         6
Coimbatore                                                                                                                                                                                                        4
Thane                                                                                                                                                                                                             4
Gurgaon,              Noida,              Delhi                                                                                                                                                                   4
Patna,              Bhubaneswar,              Kolkata,              Asansol                                                                                                                                       3
Gurgaon,              Noida,              Ghaziabad,              Delhi                                                                                                                                           2
Howrah,              Kalyani,              Kolkata,              Nadia                                                                                                                                            2
Chakdaha,              Howrah,              Kalyani,              Kolkata,              Ranaghat                                                                                                                  2
Barasat,              Howrah,              Kolkata                                                                                                                                                                2
Hyderabad,              Bangalore,              Mumbai,              Chennai,              Kolkata,              Delhi                                                                                            2
Faridabad                                                                                                                                                                                                         2
Chandigarh,              Panchkula,              mohali,              Zirakpur                                                                                                                                    2
Nadia                                                                                                                                                                                                             2
Navi Mumbai                                                                                                                                                                                                       2
Vijayawada                                                                                                                                                                                                        2
Bangalore,               Anywhere in India Pune                                                                                                                                                                   2
Patna,              Kolkata,              Delhi                                                                                                                                                                   2
New Delhi,              Delhi                                                                                                                                                                                     2
                                                                                                                                                                                                                 ..
Hyderabad,              Patna,              Chandigarh,              Ahmedabad,              Bangalore,              Bhopal,              Mumbai,              Pune,              Kolkata,              Delhi     1
Noida,              Ghaziabad,              Delhi                                                                                                                                                                 1
Chandigarh,              Panchkula                                                                                                                                                                                1
Mumbai,              Thane,              Navi Mumbai                                                                                                                                                              1
Bangalore,              Mumbai,              Chennai                                                                                                                                                              1
Gurgaon,              Jaipur                                                                                                                                                                                      1
Bhubaneswar,              Kolkata,              Asansol                                                                                                                                                           1
Uluberia                                                                                                                                                                                                          1
New Delhi,              Gurgaon                                                                                                                                                                                   1
Hyderabad,              Bangalore,              Mumbai,              Chennai,              Delhi                                                                                                                  1
Howrah                                                                                                                                                                                                            1
Gurgaon,              Mumbai,              Noida,              Kolkata,              Delhi                                                                                                                        1
Mumbai,              Thane,              Navi Mumbai,              Kalyan,              Dombivli                                                                                                                  1
Noida,              Delhi                                                                                                                                                                                         1
Bhubaneswar,              Banga,              Kolkata                                                                                                                                                             1
Kochi,              Kochi/Cochin                                                                                                                                                                                  1
Howrah,              Kolkata,              Bongoan,              Habra,              Ranaghat                                                                                                                     1
Hyderabad,              Bangalore,              Pune,              Chennai                                                                                                                                        1
North 24 Parganas                                                                                                                                                                                                 1
Bangalore,              Mumbai                                                                                                                                                                                    1
New Delhi,              Mumbai,              Dehradun,              Uttarkashi                                                                                                                                    1
Chandigarh,              Panchkula,              mohali                                                                                                                                                           1
Patna,              Gorakhpur                                                                                                                                                                                     1
Gurgaon,              Delhi                                                                                                                                                                                       1
Howrah,              Kolkata                                                                                                                                                                                      1
Bhubaneswar,              Durgapur,              Kolkata,              Asansol                                                                                                                                    1
Visakhapatnam,              Bangalore,              Mumbai,              Nashik,              Pune,              Kolkata                                                                                          1
Patna,              Bangalore,              Bhubaneswar,              Chennai,              Kanpur,              Lucknow,              Delhi                                                                      1
Howrah,              Kolkata,              Malda,              Murshidabad                                                                                                                                        1
Chandigarh,              Mumbai,              Pune                                                                                                                                                                1
Name: job_loc, Length: 169, dtype: int64

Keep in mind that different locations here are separated by ',' followed by lots of spacing

In [24]:
df.details[0]

'About Internship:        We are seeking a HR Recruiter who will help us hire resources in technology domains such as Java, Node, React, Angular. You will work & collaborate with senior members to track & measure performance, and provide results for recruitment efforts.Skill(s) required: English Proficiency - Spoken & Written, Persuasion Skills        Roles and Responsibilities:        1. Handling the recruitment for latest & emerging technologies such as Node, Java-SpringBoot, 2. Streamlining & improvising company processes such as appraisals        Perks:        1. Internship Certificate2. 5 days a week'

In [25]:
df.details[5]

"About Internship:        Mba Finance students who are keen to learn about Capital markets, can do portfolio management of clients. Mba Finance students who are ready to put the hard work & have it in them what it takes to be an successful portfolio manager. Mba Finance students who are interested in capital markets with preferred location as Bangalore should only apply.        Roles and Responsibilities:        1. Developing and managing portfolio as per clients requirements.2. Track, analyse & optimize portfolios on a day to day basis.3. Devisiing strategies to get acquire fresh clients.4. Devising Financial models for maximum profits.5. Track & analyse market volatilities on a day to basis & create strategies to maximise returns on Clients investments with regards to market volatility.6. Developing the WOW factor in Clients mindspace by offering them enhanced services.7. Increase Brand's market share through online & offline tools.        Perks:        1. Incentives2. Food Vouchers3. Coupons"

In [26]:
df.details[100]

'Hello,Good opportunity to work with experienced professionals helping them developing their product. Gain a well startup experience.\xa0Opportunity will be to show your skills and talent. We are based in UK and India. 90% of the time you have work virtually and should be available to discuss on skype / facetime. After establishing the target audience for a website and identifying the type of content it will host, a web designer/developer will:write the programming code, either from scratch or by adapting existing website software and graphics packages to meet business requirementstest the website and identify any technical problemsupload the site onto a server and register it with different search engines.'

In [14]:
df.details[300]

'About Internship:        Lawyered is seeking an enthusiastic, creative, and dependable marketing intern to join our growingmarketing team. In this position, you will collaborate with our marketing and advertising teams ineach stage of marketing campaigns. Your work will include developing, growing, and expanding ourmarketing channels through social media outreach, blogging, and strategic planning.        Roles and Responsibilities:        ? Support the marketing team? Strategize end to end marketing campaigns using digital tools.? Monitor SEO and user engagement and suggest content optimization.? Assist in the creation of email campaigns, and social media content.? Seek and analyze competitor marketing material and digital content.? Create and maintain tracking reports of digital and traditional marketing efforts.? Develop new social media campaigns, considering current and planned promotional activities.? Monitor social channels and respond to feedback, questions, and concerns.? Assist in planning and hosting marketing events.        Perks:        1. Certificate of internship2. Flexible to work from Home3. Best Legal Tech Startup'

What we see is that details section is pretty different for most of them but has a structure where it starts with 'About Internship' followed by 'Roles and Responsibilities' and has 'Perks' at the end. If there is a skills required section, it can be removed. Also, we will remove '\xa0' from all the columns.

In [27]:
df = df.apply(lambda x: x.str.replace('\xa0',''))

In [28]:
df.details[100]

'Hello,Good opportunity to work with experienced professionals helping them developing their product. Gain a well startup experience.Opportunity will be to show your skills and talent. We are based in UK and India. 90% of the time you have work virtually and should be available to discuss on skype / facetime. After establishing the target audience for a website and identifying the type of content it will host, a web designer/developer will:write the programming code, either from scratch or by adapting existing website software and graphics packages to meet business requirementstest the website and identify any technical problemsupload the site onto a server and register it with different search engines.'

Looks good !

In [29]:
df.skills.value_counts()

Skills Required         Analytical Skills                                                                                                                                                                                          80
Skills Required         No skills preferred                                                                                                                                                                                        41
Skills Required         Accounting                                                                                                                                                                                                 41
Skills Required         Agreeableness                                                                                                                                                                                              27
Skills Required         Customer Service Situation Handling                                                                                                                                                                        23
Skills Required         Marketing                                                                                                                                                                                                  19
Skills Required         English comprehension                                                                                                                                                                                      19
Skills Required         Digital Marketing                                                                                                                                                                                           9
Skills Required         PHP                                                                                                                                                                                                         8
Skills Required         HTML                                                                                                                                                                                                        7
Skills Required         Computer Literacy                                                                                                                                                                                           7
Skills Required         Written English                Writing Skills                                                                                                                                                               7
Skills Required         MS Excel                                                                                                                                                                                                    6
Skills Required         Spoken english comprehension                                                                                                                                                                                5
Skills Required         MS Office                                                                                                                                                                                                   5
Skills Required         English comprehension                Writing Skills                                                                                                                                                         5
Skills Required         Sales Situation Handling - Basic                                                                                                                                                                            5
Skills Required         Effective communication                                                                                                                                                                                     4
Skills Required         Photoshop                                                                                                                                                                                                   4
Skills Required         Analytical Skills                Agreeableness                                                                                                                                                              4
Skills Required         Customer Expectation Management                                                                                                                                                                             4
Skills Required         Accounting                Bank Telling Operations                                                                                                                                                           4
Skills Required         Photoshop                Illustrator                                                                                                                                                                        4
Skills Required         Computer Science                                                                                                                                                                                            3
Skills Required         Mechanical Engineering                                                                                                                                                                                      3
Skills Required         Civil Engineering                                                                                                                                                                                           3
Skills Required         C#                ASP                SQL Server                                                                                                                                                             3
Skills Required         Marketing                Search Engine Marketing                Search Engine Optimization                Digital Marketing                                                                                 3
Skills Required         Writing Skills                                                                                                                                                                                              3
Skills Required         Design Patterns                                                                                                                                                                                             3
                                                                                                                                                                                                                                   ..
Skills Required         iOS Programming                                                                                                                                                                                             1
Skills Required         Spoken english comprehension                MS Office                                                                                                                                                       1
Skills Required         Spoken english comprehension                Agreeableness                Computer Literacy                                                                                                                  1
Skills Required         Internet ability                Teamwork                MS Office                                                                                                                                           1
Skills Required         JavaScript                CSS                HTML                Java                SQL                                                                                                                    1
Skills Required         Actionscript                                                                                                                                                                                                1
Skills Required         Teaching Skills                                                                                                                                                                                             1
Skills Required         HTML5                JavaScript                Android SDK                iOS Programming                C#                Java                SQL Server                                                   1
Skills Required         Analytical Skills                MS Office                Business Intelligence                Customer Expectation Management                                                                              1
Skills Required         Spoken english comprehension                Marketing                Written English                                                                                                                        1
Skills Required         Digital Marketing                Agreeableness                                                                                                                                                              1
Skills Required         Photoshop                Analytical Skills                PHP                Java                Bootstrap                WordPress                                                                         1
Skills Required         PHP                MySQL                GIT                API                                                                                                                                              1
Skills Required         Mechanical Engineering                Electrical Engineering                                                                                                                                                1
Skills Required         Leadership Skills                                                                                                                                                                                           1
Skills Required         Written English                Python                Writing Skills                                                                                                                                         1
Skills Required         Marketing                Operations                Digital Marketing                                                                                                                                        1
Skills Required         Django                PyCharm                Python                Advanced Programming: Algorithms and Data Structures in Python                                                                           1
Skills Required         Financial and Banking Services                Analytical Skills                Computer Literacy                Accounts Receivable                Accounts Payable                Advanced Mathematics     1
Skills Required         Written English                Search Engine Optimization                Writing Skills                Vocabulary                                                                                           1
Skills Required         Analytical Skills                Grammar                Design Patterns                Business Intelligence                                                                                                1
Skills Required         JavaScript                PHP                jQuery                AJAX                                                                                                                                     1
Skills Required         Marketing                Analytical Skills                Team Management                Customer Expectation Management                                                                                    1
Skills Required         Marketing                Digital Marketing                English comprehension                                                                                                                             1
Skills Required         Human Resource Situation Handling                Human Resource Practices                                                                                                                                   1
Skills Required         Basic Financial Services                                                                                                                                                                                    1
Skills Required         JavaScript                Java                                                                                                                                                                              1
Skills Required         Analytical Skills                Computer Science                English comprehension                Agreeableness                                                                                         1
Skills Required         Photoshop                Written English                MS Office                Writing Skills                                                                                                             1
Skills Required         Quantitative ability                Analytical Skills                English comprehension                                                                                                                  1
Name: skills, Length: 296, dtype: int64

Above, different skills have been separated by spacing and skills required is written in every entry which we will have to remove.

In [30]:
df['skills'] = df.skills.str.replace('Skills Required','')

In [31]:
df = pd.concat([df.iloc[:,1:].apply(lambda x: x.str.lower()),df.href], axis = 1)

In [32]:
df.tail()

,job_title,company_name,job_loc,details,category,compensation,start,end,skills,href
648,sales manager,rj health products private ltd,"mumbai, thane, navi ...",about internship: we are seeking full t...,sales manager,recurring,28th feb 2019,nov ---- nov -,salesforce sales situa...,http://letsintern.com/internship/Sales-Manager...
649,asp.net c# developer,dataligence infotech pvt ltd,ahmedabad,about internship: we are looking for ha...,software developer : c#,expenses covered,27th feb 2019,27th feb 2020,c# asp ...,http://letsintern.com/internship/Software-Deve...
650,marketing,gajra pai and zhu limited,"gurgaon, chennai",about internship: we are looking for en...,marketing assistant,recurring,1st may 2019,nov ---- nov -,analytical skills,http://letsintern.com/internship/Marketing-Ass...
651,marketing internship,concinnity agro2o pvt. ltd.,new delhi,about internship: agro2o® is new delhi ...,marketing professional,recurring,26th jan 2019,27th mar 2019,marketing analytical s...,http://letsintern.com/internship/Marketing-Pro...
652,content writer,www.onlineflowersgift.com,"gurgaon, bangalore, ...",about internship: we are looking for a ...,content manager,recurring,21st aug 2018,30th aug 2020,analytical skills,http://letsintern.com/internship/Content-Manag...

Looks all good for the 2nd step

3. DATE INTO DATETIME OBJECTS

In [33]:
df.end.head()

0     28th aug 2019
1     30th aug 2019
2     29th apr 2020
3    nov ---- nov -
4     20th jun 2019
Name: end, dtype: object

We must handle the 4th type of entry above which means that no end date has been specified for the internship

In [34]:
df.start = pd.to_datetime(df.start)

In [35]:
# errors = 'coerce' will leave a null type object where parsing can't happen
df.end = pd.to_datetime(df.end, errors = 'coerce')

In [36]:
df.end.head()

0   2019-08-28
1   2019-08-30
2   2020-04-29
3          NaT
4   2019-06-20
Name: end, dtype: datetime64[ns]

In [37]:
# number of null entries in end date column
df.isnull().sum().end

222

We will let these be NaT right now and decide what to do about them later

4. COMPENSATION COLUMN CONVERSION

In [38]:
df.compensation.value_counts()

recurring                   348
expenses covered            126
unpaid                       95
one-time                     82
paid (monthly, variable)      2
Name: compensation, dtype: int64

We will club these into 2 catrgories : 

1. recurring = paid
2. expenses covered = paid
3. unpaid = unpaid
4. one-time = paid
5. paid (monthly, variable) = paid

These will be used in the knowledge based part of the recommendation system.

In [39]:
compensation_dict = {'recurring':'paid', 'one-time':'paid', 'paid (monthly, variable)':'paid', 
                     'expenses covered':'paid', 'unpaid':'unpaid'}

In [40]:
df.compensation = df.compensation.map(compensation_dict)

In [41]:
df.compensation.value_counts()

paid      558
unpaid     95
Name: compensation, dtype: int64

Perfect !!

5. SKILLS AND JOB LOCATION

In [42]:
# regex matches portion where there are 2 or more spaces and right before them is a no-space character
df.skills = df.skills.str.replace('(?<=\S)\s{2,}',',', regex = True)

In [43]:
# similar to above
df.job_loc= df.job_loc.str.replace('(?<=\S)\s{2,}','', regex = True)

6. SPLITTING DETAILS  COLUMN

Checking how many times different keywords appear in the details section

In [44]:
df.details.str.contains('about internship:').sum()

603

In [45]:
df.details.str.contains('roles and responsibilities').sum()

597

In [46]:
df.details.str.contains('skill').sum()

316

In [47]:
df.details.str.contains('perks').sum()

521

In [48]:
df.details = df.details.str.replace('about internship:','')

In [49]:
df.details = df.details.str.replace('roles and responsibilities:', '')

In [50]:
df.details = df.details.str.split('skill', expand = True)[0]

In [51]:
df.details = df.details.str.split('perks', expand = True)[0]

What we did above was that we replaced some keywords with spaces and then we split all the rows (for details) on 'skill' and took the portion of the split before 'skill' as we already have skills needed with us. Then we did the same thing for perk as we didn't need perks and the information before perks was good enough for us.

In [52]:
df.head()

,job_title,company_name,job_loc,details,category,compensation,start,end,skills,href
0,hr executive - recruitment,engenia technologies,gurgaon,we are seeking a hr recruiter who will...,human resources recruiter,paid,2019-03-02,2019-08-28,hr practices,http://letsintern.com/internship/Human-Resourc...
1,telecalling & lead generation,abalone technologies pvt ltd,noida,selected intern's day-to-day responsib...,tele sales executive,paid,2019-02-17,2019-08-30,office administration,http://letsintern.com/internship/Tele-Sales-Ex...
2,digital marketing internship,brandstory digital marketing company,bangalore,are you looking for digital marketing ...,marketing professional,paid,2018-12-25,2020-04-29,digital marketing,http://letsintern.com/internship/Marketing-Pro...
3,recruitment of corporate bank back office post,bandhan pvt.ltd,"kathua,barasat,bardhaman,bongoan,habra",huge opportunity in corporate bank for...,accountant,paid,2019-03-12,NaT,analytical skills,http://letsintern.com/internship/Accountant-in...
4,software developer,trippyigloo,bangalore,we are looking for interns who are wil...,software developer : python,paid,2019-01-30,2019-06-20,"go(golang),java,mongodb,nginx,python",http://letsintern.com/internship/Software-Deve...

In [53]:
# adding id column
df['id'] = range(1,df.shape[0]+ 1)
# changing the order
df = pd.concat([df['id'], df.iloc[:,:-1]], axis = 1)

In [54]:
# verifying nothing has gone wrong
df.isnull().sum()

id                0
job_title         0
company_name      0
job_loc           0
details           0
category          0
compensation      0
start             0
end             222
skills            0
href              0
dtype: int64

The null entries in 'end' are the entries that we have left as null as they didn't have any ending date

7. Removing duplicates

Now there are some duplicate entries that wont show up as duplicates, i.e, every column wouldn't be the same eg: start and end date might be different and even the details section might be a little different. This probably happens because of companies putting up internship openings at different times of the year and the previous outdated internship openings not being closed by letsintern.

Thus our definition for duplicates is that the job loc, category, company name and job title have the same content.

In [55]:
# arranging internships by date so that new internships are at the top
df.sort_values(by ='start', ascending = False, inplace =True)

In [56]:
# take a look at the duplicates. For most, the dates are different if they aren't pure duplicates
all_duplicates = df[df.duplicated(subset = ['job_title','company_name','job_loc','category'],keep=False)]
all_duplicates.sort_values('job_title')

,id,job_title,company_name,job_loc,details,category,compensation,start,end,skills,href
331,332,asp.net c# developer,dataligence infotech pvt ltd,ahmedabad,we are looking for hardworking and sma...,software developer : c#,paid,2019-02-27,2020-02-27,"c#,asp,sql server",http://letsintern.com/internship/Software-Deve...
649,650,asp.net c# developer,dataligence infotech pvt ltd,ahmedabad,we are looking for hardworking and sma...,software developer : c#,paid,2019-02-27,2020-02-27,"c#,asp,sql server",http://letsintern.com/internship/Software-Deve...
265,266,astt merchant,adkindia llc,new delhi,adkindia llc buying house is born out of ideas...,business consultant,paid,2015-07-24,2015-11-30,"accounting,spoken english comprehensi...",http://letsintern.com/internship/Business-Cons...
628,629,astt merchant,adkindia llc,new delhi,adkindia llc buying house is born out of ideas...,business consultant,paid,2015-07-24,2015-11-30,"accounting,spoken english comprehensi...",http://letsintern.com/internship/Business-Cons...
181,182,astt merchant,adkindia llc,new delhi,adkindia llc buying house is born out of ideas...,business consultant,paid,2015-07-24,2015-11-30,"accounting,spoken english comprehensi...",http://letsintern.com/internship/Business-Cons...
579,580,bank job notice in kolkata,bijoy sen,kolkata,===recruitment notice in private bank=...,account executive,paid,2019-02-25,NaT,accounting,http://letsintern.com/internship/Account-Execu...
82,83,bank job notice in kolkata,bijoy sen,kolkata,===recruitment notice in private bank=...,account executive,paid,2019-02-25,NaT,accounting,http://letsintern.com/internship/Account-Execu...
220,221,business development,artsy nest,"hyderabad,mumbai","we are looking for young, motivated, c...",marketing manager,paid,2019-03-31,2019-06-29,"marketing,digital marketing,writing s...",http://letsintern.com/internship/Marketing-Man...
95,96,business development,artsy nest,"hyderabad,mumbai","we are looking for young, motivated, c...",marketing manager,paid,2019-03-31,2019-06-29,"marketing,digital marketing,writing s...",http://letsintern.com/internship/Marketing-Man...
389,390,business development (sales),pay4biz,mumbai,about the internship:selected intern's...,business development executive,paid,2018-09-04,2018-12-30,marketing,http://letsintern.com/internship/Business-Deve...
354,355,business development (sales),pay4biz,mumbai,we are seeking a marketing intern who ...,business development executive,paid,2018-12-31,2019-06-29,marketing,http://letsintern.com/internship/Business-Deve...
585,586,business development intern,crescent construction,chennai,we are seeking business development in...,business development executive,paid,2018-06-24,2018-08-30,sales situation handling - basic,http://letsintern.com/internship/Business-Deve...
40,41,business development intern,crescent construction,chennai,this is an opportunity to be part of t...,business development executive,paid,2019-03-04,2019-05-02,sales situation handling - basic,http://letsintern.com/internship/Business-Deve...
160,161,business deveopment manager,3deometry innovations llp,pune,only those candidates can apply who: 1...,business development executive,paid,2018-03-30,2018-05-30,marketing,http://letsintern.com/internship/Business-Deve...
558,559,business deveopment manager,3deometry innovations llp,pune,1. are available for full time (in-off...,business development executive,paid,2019-03-31,2019-06-29,"marketing,electronics & semiconductor...",http://letsintern.com/internship/Business-Deve...
384,385,cabin crew for spicejet airlines,sm technical ltd,delhi,hiring for freshers male/ female cabin...,customer service representative,paid,2019-03-03,NaT,customer service situation handling,http://letsintern.com/internship/Customer-Serv...
507,508,cabin crew for spicejet airlines,sm technical ltd,anywhere in india,hiring for freshers male/ female cabin...,customer service representative,paid,2019-03-03,NaT,customer service situation handling,http://letsintern.com/internship/Customer-Serv...
482,483,cabin crew for spicejet airlines,sm technical ltd,delhi,hiring for freshers male/ female cabin...,customer service representative,paid,2019-03-03,NaT,customer service situation handling,http://letsintern.com/internship/Customer-Serv...
163,164,cabin crew for spicejet airlines,sm technical ltd,anywhere in india,hiring for freshers male/ female cabin...,customer service representative,paid,2019-03-03,NaT,customer service situation handling,http://letsintern.com/internship/Customer-Serv...
518,519,chief editor,holiday tripffee llp,anywhere in india,selected intern's day-to-day responsib...,content manager,unpaid,2019-04-14,2019-06-13,no skills preferred,http://letsintern.com/internship/Content-Manag...
282,283,chief editor,holiday tripffee llp,anywhere in india,selected intern's day-to-day responsib...,content manager,unpaid,2019-04-14,2019-06-13,agreeableness,http://letsintern.com/internship/Content-Manag...
514,515,customer care executive,finalrentals,anywhere in india,we are fluent english speaking people....,client servicing executive,unpaid,2019-02-10,2020-03-05,analytical skills,http://letsintern.com/internship/Client-Servic...
261,262,customer care executive,finalrentals,anywhere in india,we are fluent english speaking people....,client servicing executive,unpaid,2019-02-10,2020-03-05,no skills preferred,http://letsintern.com/internship/Client-Servic...
566,567,digital marketing,sm consultants,hyderabad,we are seeking a digital marketer who ...,digital marketing manager,paid,2019-03-02,2019-05-30,"marketing,search engine marketing,sea...",http://letsintern.com/internship/Digital-Marke...
151,152,digital marketing,virtual lightning speed events,anywhere in india,digital marketing is for promote throu...,social media specialist,paid,2019-03-09,2019-06-29,digital marketing,http://letsintern.com/internship/Social-Media-...
301,302,digital marketing,virtual lightning speed events,anywhere in india,digital marketing is for promote throu...,social media specialist,paid,2019-03-09,2019-06-29,digital marketing,http://letsintern.com/internship/Social-Media-...
176,177,digital marketing,sm consultants,hyderabad,we are seeking a digital marketer who ...,digital marketing manager,paid,2019-03-22,2019-06-21,"marketing,search engine marketing,sea...",http://letsintern.com/internship/Digital-Marke...
21,22,digital marketing intern / trainee,cations digital pvt. ltd,mumbai,researches and monitors the activity o...,digital marketing professional,paid,2019-01-22,2019-06-02,analytical skills,http://letsintern.com/internship/Digital-Marke...
468,469,digital marketing intern / trainee,cations digital pvt. ltd,mumbai,researches and monitors the activity o...,digital marketing professional,paid,2019-01-22,2019-06-02,analytical skills,http://letsintern.com/internship/Digital-Marke...
244,245,direct walk in interview for pvt bank back office,bandhan pvt.ltd,anywhere in india,staff selections going on for private ...,accountant,paid,2019-03-13,NaT,no skills preferred,http://letsintern.com/internship/Accountant-in...
313,314,direct walk in interview for pvt bank back office,bandhan pvt.ltd,anywhere in india,staff selections going on for private ...,accountant,paid,2019-03-13,NaT,no skills preferred,http://letsintern.com/internship/Accountant-in...
523,524,direct walk in interview for pvt bank back office,bandhan pvt.ltd,anywhere in india,staff selections going on for private ...,accountant,unpaid,2019-03-13,NaT,no skills preferred,http://letsintern.com/internship/Accountant-in...
116,117,finance,indian wealth management,ahmedabad,"• applicants should be business, finan...",finance professional,paid,2019-03-31,2019-10-30,"accounting,analytical skills",http://letsintern.com/internship/Finance-Profe...
146,147,finance,indian wealth management,ahmedabad,about indian wealth management (http://www.ind...,finance professional,paid,2018-01-03,2018-06-03,financial and banking services,http://letsintern.com/internship/Finance-Profe...
491,492,hr / human resource / recruitment / administra...,manpho,bangalore,we are seeking hr (human resource) rep...,human resources recruiter,unpaid,2019-03-05,2019-03-29,analytical skills,http://letsintern.com/internship/Human-Resourc...
391,392,hr / human resource / recruitment / administra...,manpho,bangalore,we are seeking hr (human resource) rep...,human resources recruiter,unpaid,2019-03-04,2019-03-29,analytical skills,http://letsintern.com/internship/Human-Resourc...
109,110,hr recruitment intern,infytalent hr services,pune,we are looking for hr traineeresponsib...,human resources recruiter,paid,2019-02-17,2019-12-30,agreeableness,http://letsintern.com/internship/Human-Resourc...
229,230,hr recruitment intern,infytalent hr services,pune,hr recruitment interninfytalent is a u...,human resources recruiter,paid,2018-10-04,2019-03-04,human resource practices,http://letsintern.com/internship/Human-Resourc...
138,139,marketing intern,4 minute mile marketing services pvt limited,mumbai,4 minute mile is an integrated marketi...,marketing assistant,paid,2019-02-26,2019-05-30,effective communication,http://letsintern.com/internship/Marketing-Ass...
281,282,marketing intern,4 minute mile marketing services pvt limited,mumbai,4 minute mile is an integrated marketing solut...,marketing assistant,paid,2017-10-31,2018-03-30,effective communication,http://letsintern.com/internship/Marketing-Ass...
260,261,marketing manager,good vibes entertainment llp,new delhi,we are looking for super smart young p...,marketing manager,paid,2019-02-17,NaT,"spoken english comprehension,marketin...",http://letsintern.com/internship/Marketing-Man...
150,151,marketing manager,good vibes entertainment llp,new delhi,we are looking for super smart young p...,marketing manager,paid,2019-02-17,NaT,spoken english comprehension,http://letsintern.com/internship/Marketing-Man...
504,505,python internship,techciti technologies pvt.ltd.,bangalore,internship on python: eligibility: any...,software developer,unpaid,2018-08-27,2019-01-27,python,http://letsintern.com/internship/Software-Deve...
540,541,python internship,techciti technologies pvt.ltd.,bangalore,python internship:eligibility: any can...,software developer,unpaid,2018-12-03,2019-06-03,python,http://letsintern.com/internship/Software-Deve...
252,253,sbi banking off role,sbi bank,"bankura,howrah,kolkata,medinipur,murshidabad,n...",graduation preferred.hs pass also can ...,banking professional,unpaid,2019-03-03,NaT,analytical skills,http://letsintern.com/internship/Banking-profe...
172,173,sbi banking off role,sbi bank,"bankura,howrah,kolkata,medinipur,murshidabad,n...",graduation preferred.hs pass also can ...,banking professional,unpaid,2019-03-03,NaT,analytical skills,http://letsintern.com/internship/Banking-profe...
517,518,social media manager,nityansh ventures,anywhere in india,the social media manager will administ...,social media specialist,unpaid,2019-02-14,2019-04-13,"analytical skills,ad platform-google/...",http://letsintern.com/internship/Social-Media-...
453,454,social media manager,nityansh ventures,anywhere in india,the social media manager will administ...,social media specialist,unpaid,2019-02-15,2019-04-14,analytical skills,http://letsintern.com/internship/Social-Media-...
204,205,web development internship,techciti technologies pvt.ltd.,bangalore,software developer internship: eligibi...,software developer,unpaid,2019-01-06,2019-06-05,html,http://letsintern.com/internship/Software-Deve...
32,33,web development internship,techciti technologies pvt.ltd.,bangalore,web developer internship: eligibility:...,software developer,unpaid,2019-01-07,2019-06-06,html,http://letsintern.com/internship/Software-Deve...
369,370,web development internship,techciti technologies pvt.ltd.,bangalore,web developer internship: eligibility:...,software developer,unpaid,2019-01-07,2019-06-06,html,http://letsintern.com/internship/Software-Deve...
94,95,web development internship,techciti technologies pvt.ltd.,bangalore,web development internship: eligibilit...,software developer,unpaid,2018-08-27,2019-02-27,html,http://letsintern.com/internship/Software-Deve...

In [57]:
# we might also check the number of internships that were meant to start before March 2019
df[df.start < pd.to_datetime('03/01/2019')].shape

(315, 11)

Damn. 315  outdated internships. We could remove these to make our data more relevant to the dates but that won't matter as having an outdated internship won't affect the recommendation system making part. We will still remove the duplicate internships.

In [58]:
df.drop_duplicates(subset = ['job_title','company_name','job_loc','category'],keep='first',inplace = True)

In [59]:
df.sort_values('id', inplace = True)

In [61]:
df.to_csv('../data_for_notebooks/recomm_df.csv', sep = ',',index  = False)

This form of data is good enough for us to start working on the recommendation system with. However if we wanted to analyze this dataset, we would need to make the following changes:

1. SEPARATE SKILLS INTO DIFFERENT COLUMNS

In [62]:
def create_cats(col,df):
    '''
    returns a dataframe with dummy variables created for all values in 'col' of 'df'
    
    INPUT:
    col - the column for which dummy variables are to be created
    df - the dataframe to be used
    
    OUTPUT:
    df - dataframe that has the original dataframe and the dummy variables of 'col' concatenated
    '''
    df_split = df[col].str.split(',', expand = True)
    # getting dummies for all the column values
    df_split_dummies = pd.get_dummies(df_split)
    # standardizing the column names
    df_split_dummies.columns = df_split_dummies.columns.str.replace('^[0-9][0-9]?_\s*',col+'_')
    # combining same columns together
    df_split = df_split_dummies.groupby(df_split_dummies.columns, axis = 1).sum()
    # combine with original df
    df = pd.concat([df, df_split], axis = 1)
    
    return df

In [63]:
df = create_cats('skills', df)

2. SPLIT JOB_LOC INTO DIFFERENT COLUMNS

In [64]:
df = create_cats('job_loc', df)

In [65]:
df.shape

(625, 327)

In [66]:
df.drop(['job_loc','skills'],axis= 1, inplace = True)

In [68]:
df.to_csv('../data_for_notebooks/recomm_df_w_dummies.csv',index = False)

## ***